* {
  background-color: #3CDBC0;
  font-family: 'Rubik', sans-serif;
}


header {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  color: #4a4a4a;
  font-size: 16px;
  width: 100%;
}

.logo {
  width: 155px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}


.item1 {
  display: inline;
  margin-top: 10px;
  margin-bottom: 13px;
  margin: 20px;
}